---
import Layout from '../layouts/Layout.astro';
import { Modal } from 'accessible-astro-components'
import data from '../data/data.json';
import hobbies from '../data/hobbies.json';

const introKey = Astro.url.searchParams.get('intro')! || '';
let hobbyKey = Astro.url.searchParams.get('hobby')! || '';

const intro = introKey && data.intros[introKey]
  ? data.intros[introKey] : data.intros.basic;
let hobbyData = hobbyKey && hobbies[hobbyKey];

if (!hobbyData) {
  // Get a random hobby key
  hobbyKey = Object.keys(hobbies)[Math.floor(Math.random() * Object.keys(hobbies).length)]
  hobbyData = hobbies[hobbyKey]
}

const wikilink = `https://en.wikipedia.org/wiki/${encodeURIComponent(hobbyData.wikititle)}`

const urlParams = new URLSearchParams({
  intro: introKey || 'basic',
  hobby: hobbyKey
});
const canonicalURL = new URL(Astro.url);
canonicalURL.search = '';
const hobbyLink = `${canonicalURL}?${urlParams.toString()}`;

let randomLink = canonicalURL.toString();
if (introKey && introKey !== 'basic') {
  randomLink += `?intro=${introKey}`
}
const variantsLink = `/variants?${urlParams.toString()}`;
---
<script>
  const copyContent = async (text) => {
    try {
      await navigator.clipboard.writeText(text);
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
  }

  const shareContent = async (url) => {
    // Use the share API
    try {
      navigator.share({
        title: 'Find yourself a hobby',
        url
      })
    } catch (err) {
      console.error('This system does not support the Share API')
    }
  }

  document.getElementById('sharing-this-input').addEventListener('click', function () {
    this.select()
    copyContent(this.value)
  })
  document.getElementById('sharing-random-input').addEventListener('click', function () {
    this.select()
    copyContent(this.value)
  })
</script>

<Layout title="Find yourself a hobby">
	<main>
    <div class="preintro">If you were given this link, it's probably because</div>
    <div class="intro">{intro}</div>
    <div class="prehobby">🔥 Why don't you try this activity:</div>
    <div class="hobby"><a href={wikilink}>{hobbyData.title}</a></div>
    {hobbyData.image
      && hobbyData.image.source 
      && <div class="hobbyimage">
        <img src={hobbyData.image.source} width={hobbyData.image.width} height={hobbyData.image.height} />
      </div>}
      <div class="wikilink"><a href={wikilink}>🔗 Here's some information to get you started. 🔗</a></div>
    <div class="outro">🧡 Try it! You might be great at it! 🧡</div>
    <a id="sharing-random-link" class="ssharing-link-input" href={randomLink}>🎲 Give me another 🎲</a>
	</main>
  <div class="footer">
    <a class="button" href={variantsLink}>↩️ Variants</a>
    <a class="button" href="#" id="sharing-modal-trigger">🔗 Direct link</a>
    <a class="button" href='/credits'>❤️ Credits</a>
  </div>
  <Modal
    triggerId="sharing-modal-trigger"
    title="Get a direct link"
  >
    <small>(click to copy)</small>
    <div class="sharing-links">
      <a id="sharing-this-link" class="sharing-link-input" href={hobbyLink}>This activity 🔗</a>
      <input id="sharing-this-input" type="text" value={hobbyLink} readonly />
      <span id="sharing-this-label"></span>
    </div>
    <div class="sharing-links">
      <a id="sharing-random-link" class="ssharing-link-input" href={randomLink}>Random activity 🎲</a>
      <input id="sharing-random-input" type="text" value={randomLink} readonly />
      <span id="sharing-random-label"></span>
    </div>
    </Modal>
</Layout>

<style lang="scss">
  @import '../styles/mixins';

  .preintro {
    margin-bottom: 0.7em;

    @include screen-medium-and-smaller {
      font-size: 0.8rem;
    }
  }

  .intro {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 2em;

    @include screen-medium-and-smaller {
      font-size: 1.3rem;
      margin-bottom: 1.5em;
    }
  }

  .prehobby {
    // font-size: 0.7em;
    margin-bottom: 1em;

    @include screen-medium-and-smaller {
      margin-bottom: 0.7em;
    }
  }

  .outro {
    margin: 1em 0 2em;
    font-weight: 800;
  }

  .hobby {
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
		// font-weight: 800;
    margin-bottom: 0.2em;

    a {
      color: white;
    }

    @include screen-medium {
      font-size: 4rem;
    }

    @include screen-small {
      font-size: 3rem;
    }
  }

  .wikilink {
    a {
      font-size: 0.7em;
      color: #ff84cd;
    }
  }

  .sharing-links {
    width: 100%;
    // display: flex;
    // justify-content: space-evenly;
    font-weight: 800;

    a {
      color: black;
      display: block;
    }

    input {
      width: 100%;
    }
  }
</style>
